NAVER_CLIENT_ID={{Client Id}}
NAVER_CLIENT_SECRET={{Client Secret}}

DB_HOST={{DB Server Host Ip}}
DB_PORT={{DB Server Port Number}}
DB_USER={{DB Server Username}}
DB_PASSWORD={{DB Server Password}}
DB_DATABASE={{DB Server database}}